@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap');

::-webkit-scrollbar {
    display: none;
}

@mixin category {
    border: 2px solid rebeccapurple;
    margin-top: 40px;
}

@mixin categoryName{
    border: 2px solid green;
    margin: 10px;
    font-size: 35px;
    color: coral;
}
@mixin itemCard{
    width: 180px;
    height: 220px;
    padding: 10px;
    margin: 10px;   
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 5px; 
    background: white;
    transition: 0.5s all ease-in-out;
}
@mixin cardTop{
    display: flex;
    justify-content: space-between;
}
@mixin iRating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 14px;
}
@mixin iFaHeartO{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
@mixin itemCardImg {
    width: 120px;
    height: 120px;
    // border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: 0.5s all ease-in-out;
    &:hover{
        transform: scale(1.2);
    }
}

@mixin itemName {
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
}
@mixin itemPrice {
    color: darkblue;
    font-weight: 500;
    font-size: 18px;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
    #menu{
        background-color: whitesmoke;
        .log img{
            // border: 2px solid blue;
            padding: 0 50px;
            margin-top: 20px;
            border-radius: 50%;
        }
        .menu-item a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            padding: 8px 30px;
            margin: 12px 0;
            color: rgb(227, 122, 46);
            font-weight: 400;
            &:hover{
                background-color: rgb(254, 214, 220);
            }            
        }
    }
    #food-container{
        background-color: whitesmoke;
        overflow: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
        #header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            position: sticky;
            top: 0;
            background: whitesmoke;
            z-index: 1;
            .add-box i{
                font-size: 20px;
                border: 1px solid indianred;
                color: indianred;
                padding: 5px 10px;
                width: 150px;
                border-radius: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                text-align: center;
            }
            #util i{
                font-size: 18px;
                margin: 0 16px;
                padding: 8px 16px;
                border-radius: 20px;
                border: 1px solid crimson;
                color: crimson;
                cursor: pointer;
                &:active{
                    color: white;
                    background-color: crimson;
                }
            }
        }
        #food-items{
            #fruit{
                @include category;
                #category-name{
                    @include categoryName;
                }
                #item-card{
                    @include itemCard;
                    background: rgb(202, 245, 138);
                    #card-top{
                        @include cardTop;
                        i.fa-heart-o{
                            @include iFaHeartO;
                        }
                        #rating{
                            @include iRating;
                        }
                    }
                    img{
                        @include itemCardImg;
                    }
                    #item-name{
                        @include itemName;
                    }
                    #item-price{
                        @include itemPrice;
                    }
                }
            }
            #noodle{
                @include category;
                #category-name{
                    @include categoryName;
                }
                #item-card{
                    @include itemCard;
                    background: rgb(202, 245, 138);
                    #card-top{
                        @include cardTop;
                        i.fa-heart-o{
                            @include iFaHeartO;
                        }
                        #rating{
                            @include iRating;
                        }
                    }
                    img{
                        @include itemCardImg;
                    }
                    #item-name{
                        @include itemName;
                    }
                    #item-price{
                        @include itemPrice;
                    }
                }
            }
        }
    }
    #cart{
        background-color: aquamarine;
    }
} 