@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  height: 100%;
  overflow: hidden;
}
.container #menu {
  background-color: whitesmoke;
}
.container #menu .log img {
  padding: 0 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.container #menu .menu-item a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 30px;
  margin: 12px 0;
  color: rgb(227, 122, 46);
  font-weight: 400;
}
.container #menu .menu-item a:hover {
  background-color: rgb(254, 214, 220);
}
.container #food-container {
  background-color: whitesmoke;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.container #food-container #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: sticky;
  top: 0;
  background: whitesmoke;
  z-index: 1;
}
.container #food-container #header .add-box i {
  font-size: 20px;
  border: 1px solid indianred;
  color: indianred;
  padding: 5px 10px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
}
.container #food-container #header #util i {
  font-size: 18px;
  margin: 0 16px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid crimson;
  color: crimson;
  cursor: pointer;
}
.container #food-container #header #util i:active {
  color: white;
  background-color: crimson;
}
.container #food-container #food-items #fruit {
  border: 2px solid rebeccapurple;
  margin-top: 40px;
}
.container #food-container #food-items #fruit #category-name {
  border: 2px solid green;
  margin: 10px;
  font-size: 35px;
  color: coral;
}
.container #food-container #food-items #fruit #item-card {
  width: 180px;
  height: 220px;
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid green;
  border-radius: 5px;
  background: white;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background: rgb(202, 245, 138);
}
.container #food-container #food-items #fruit #item-card #card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container #food-container #food-items #fruit #item-card #card-top i.fa-heart-o {
  padding: 6px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
.container #food-container #food-items #fruit #item-card #card-top #rating {
  padding: 7px;
  color: goldenrod;
  background: black;
  font-size: 14px;
  border-radius: 14px;
}
.container #food-container #food-items #fruit #item-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  display: block;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.container #food-container #food-items #fruit #item-card img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.container #food-container #food-items #fruit #item-card #item-name {
  font-weight: 600;
  color: darkslategray;
  font-size: 18px;
}
.container #food-container #food-items #fruit #item-card #item-price {
  color: darkblue;
  font-weight: 500;
  font-size: 18px;
}
.container #food-container #food-items #noodle {
  border: 2px solid rebeccapurple;
  margin-top: 40px;
}
.container #food-container #food-items #noodle #category-name {
  border: 2px solid green;
  margin: 10px;
  font-size: 35px;
  color: coral;
}
.container #food-container #food-items #noodle #item-card {
  width: 180px;
  height: 220px;
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid green;
  border-radius: 5px;
  background: white;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background: rgb(202, 245, 138);
}
.container #food-container #food-items #noodle #item-card #card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container #food-container #food-items #noodle #item-card #card-top i.fa-heart-o {
  padding: 6px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
.container #food-container #food-items #noodle #item-card #card-top #rating {
  padding: 7px;
  color: goldenrod;
  background: black;
  font-size: 14px;
  border-radius: 14px;
}
.container #food-container #food-items #noodle #item-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  display: block;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.container #food-container #food-items #noodle #item-card img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.container #food-container #food-items #noodle #item-card #item-name {
  font-weight: 600;
  color: darkslategray;
  font-size: 18px;
}
.container #food-container #food-items #noodle #item-card #item-price {
  color: darkblue;
  font-weight: 500;
  font-size: 18px;
}
.container #cart {
  background-color: aquamarine;
}/*# sourceMappingURL=style.css.map */